body{
  margin:0;
  background:#05040a;
  font-family:Arial,Helvetica,sans-serif;
  color:#ffe9fb;
}

/* FULL WIDTH BANNER */
.top-banner{
  width:100%;
  height:260px;
  background:
    radial-gradient(circle at 60% 10%, rgba(255,47,141,.35), transparent 60%),
    radial-gradient(circle at 20% 70%, rgba(154,96,255,.35), transparent 65%),
    url('banner.jpg');
  background-size:cover;
  background-position:center;
  box-shadow:0 4px 20px rgba(255,47,141,.4);
}

/* PROFILE CARD */
.profile-box{
  width:700px;
  max-width:95%;
  margin:0 auto 60px;
  background:#0c0a18;
  border-radius:22px;
  padding:80px 20px 20px;
  box-shadow:0 0 26px rgba(255,47,141,.4);
  position:relative;
  text-align:center;
}

/* AVATAR overlays banner */
.avatar{
  width:140px;
  height:140px;
  border-radius:50%;
  object-fit:cover;
  border:4px solid #ff2f8d;
  box-shadow:0 0 18px #ff2f8d;
  position:absolute;
  top:-70px;
  left:50%;
  transform:translateX(-50%);
  background:#000;
}

/* TEXT */
.title{
  font-size:32px;
  margin-top:0;
  margin-bottom:4px;
  font-weight:700;
}
.heart{
  color:#ff2b4f;
  text-shadow:0 0 12px #ff2b4f;
}
.subtitle{
  font-size:14px;
  opacity:.8;
  margin-bottom:20px;
}
.about{
  line-height:1.5;
  margin:0 20px 20px;
}

/* SECTIONS */
.section-title{
  margin:22px 0 10px;
}

/* MUSIC */
.music{
  background:#1d0c29;
  border-radius:14px;
  height:55px;
  line-height:55px;
  margin-bottom:20px;
}

/* FRIENDS */
.friends .friend{
  width:90px;
  height:90px;
  background:#120e1f;
  border-radius:22px;
  display:inline-block;
  margin:6px;
}

/* GALLERY */
.gallery img{
  width:130px;
  height:130px;
  border-radius:22px;
  margin:8px;
  object-fit:cover;
  background:#120e1f;
}

/*  SOCIAL */
.socials a{
  display:inline-block;
  width:40px;
  height:40px;
  border-radius:50%;
  background:#180c20;
  line-height:40px;
  margin:0 6px;
  text-decoration:none;
  color:#ff9fd0;
}
